{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ 'Login'|trans }}</h1>

    <form action="{{ path('user_login') }}" method="post">
        <div class="row">
            <label for="username">{{ 'Email'|trans }}:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div class="row">
            <label for="password">{{ 'Password'|trans }}:</label>
            <input type="password" id="password" name="_password" />
        </div>

        {% if error %}
            <div class="form-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <button type="submit">{{ 'Login'|trans }}</button>
    </form>
</div>

{% endblock %}
